.jumbotron{
	margin-bottom: 0px;
	height: 300px;
	color: #00ff88;
	text-shadow: black 0.3em 0.3em 0.3em;
	background:transparent;
}

.form-inline{
	text-align: right;
}
.liste{
	font-size: 50px;
	font-weight: bolder;
	margin: 20px;
	padding: 40px;
}

.neufs{
	background-color:#00ffb2;
	margin: 20px;
	padding: 40px;
}

.viande{
	background-color:#00ffb2;
	margin: 20px;
	padding: 40px;
}

.transports{
	background-color:#00ffb2;
	margin: 20px;
	padding: 40px; 
}

.déchets{
	background-color:#00ffb2;
	margin: 20px;
	padding: 40px; 
}
.suite{
	background-color:#00ffb2;
	margin: 20px;
	padding: 40px;
}

/*formulaire*/

.bg-success{
	margin-bottom: 20px;
	margin-top: 20px;
}
#chouchou{
	margin-bottom: 20px;
	margin-top: 10px;	
}









